@font-face {
  font-family: museosanscyrl-300;
  font-display: swap;
  src: url("../fonts/museosanscyrl-300.woff2") format("woff2"),
    url("../fonts/museosanscyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: museosanscyrl-700;
  font-display: swap;
  src: url("../fonts/museosanscyrl-700.woff2") format("woff2"),
    url("../fonts/museosanscyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: museosanscyrl-500;
  font-display: swap;
  src: url("../fonts/museosanscyrl-500.woff2") format("woff2"),
    url("../fonts/museosanscyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  font-display: swap;
  src: url("../fonts/roboto-black.woff2") format("woff2"),
    url("../fonts/roboto-black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: museosanscyrl-900;
  font-display: swap;
  src: url("../fonts/museosanscyrl-900.woff2") format("woff2"),
    url("../fonts/museosanscyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
