@mixin title {
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	font-weight: 700;
	color: #424242;
}

@mixin btn {
	padding: 22px 38px;
	background-color: #cfa55b;
	color: #fff;
	border-radius: 5px;
}
