@import '_fonts';
@import 'vars';
@import 'global';
@import '_header';
@import '_footer';

.achievement {
	padding-top: 78px;
	background-image: url(../img/achievement-bg.jpg);
	background-position: center;
	// .achievement__title

	&__title {
		@include title;
	}
}
.content {
	width: 100%;
	margin-top: 51px;
	margin-bottom: 118px;
	counter-reset: item;
	// .content__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		counter-increment: item;
		margin-top: 80px;
		img {
			max-width: 649px;
			box-shadow: 0px 5px 50px rgba(60, 60, 60, 0.4);
			border-radius: 10px;
			object-fit: cover;
			max-height: auto;
			margin-left: 100px;
			object-fit: cover;
			margin-top: 140px;
		}

		&:nth-child(2n) {
			flex-direction: row-reverse;
			img {
				margin-right: 50px;
			}
		}
	}

	// .content__wrapper-item

	&__wrapper-item {
		&::before {
			max-height: 113px;
			content: '0' counter(item);
			font-family: Roboto;
			font-weight: 900;
			font-size: 96px;
			line-height: 112px;
			text-transform: uppercase;
			color: #cfa55b;
			opacity: 0.3;
		}
	}

	// .content__wrapper-title

	&__wrapper-title {
		width: 543px;
		margin: 24px 0 42px;
		font-family: museosanscyrl-700;
		font-weight: 700;
		font-size: 30px;
		line-height: 36px;
		text-transform: uppercase;
		color: #454545;
	}

	// .content__wrapper-element

	&__wrapper-element {
		max-width: 455px;
		padding-left: 50px;
		position: relative;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #424242;
		margin-bottom: 32px;
		&::before {
			position: absolute;
			left: 0;
			top: 0;
			content: url(../img/romb.svg);
		}
	}

	// .content__wrapper-btn

	&__wrapper-btn {
		margin-top: 30px;
		@include btn;
		font-family: museosanscyrl-700;
		padding: 32px 66px;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		color: #fff;
		box-shadow: 0px 20px 40px rgba(207, 165, 91, 0.4);
	}
}

// start sell
.sell {
	width: 100%;
	height: 100vh;
	background-image: url(../img/sell-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	// .sell__inner

	&__inner {
		height: 100vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.content {
	// .content__title

	&__title {
		@include title;
		font-family: museosanscyrl-700;
		color: #fff;
		font-weight: 700;
		margin-bottom: 53px;
		text-align: left;
	}

	// .content__text

	&__text {
		text-align: left;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		p {
			width: 650px;
			margin-top: 28px;
		}
	}
}

.card {
	position: relative;

	&__inner {
		position: relative;
		width: 447px;
		max-width: 447px;
		max-height: 548px;
		background-color: #fff;
		box-shadow: 0px 4px 50px rgba(207, 165, 91, 0.5);
		border-radius: 10px;
		padding: 36px 34px 43px 34px;
	}

	&__border {
		position: absolute;
		top: 5%;
		left: 5%;
		width: 100%;
		height: 100%;
		border: 3px solid #cfa55b;
		border-radius: 10px;
	}

	// .card__title
	&__title {
		padding: 0 56px 24px 0;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		color: #424242;
	}

	// .card__text

	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #424242;
		padding-bottom: 37px;
		padding-right: 51px;
	}

	// .card__list-item

	&__list-item {
		position: relative;
		max-width: 334px;
		font-size: 14px;
		line-height: 17px;
		color: #424242;
		padding-left: 36px;
		padding-bottom: 25px;

		&::before {
			position: absolute;
			content: url(../img/sell-point.svg);
			left: 0;
			top: 0;
		}
	}

	// .card__btn

	&__btn {
		margin-top: 29px;
		width: 100%;
		@include btn;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
	}
}

// end sell

// start feedback
.feedback {
	background-image: url(../img/feedback-bg.jpg);
	background-size: cover;
	background-position: center;
	height: 458px;

	// .feedback__title

	&__title {
		padding: 98px 0 30px;
		font-weight: 700;
		line-height: 43px;
		font-size: 36px;
	}

	// .feedback__text

	&__text {
		p {
			max-width: 715px;
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
		}
	}
}

// .feedback__form

.form {
	// .form__input
	padding: 44px 0 104px;

	&__tel {
		width: 553px;
		padding: 26px 40px;
		margin-right: 27px;
		background: #ffffff;
		border-radius: 10px;
		box-shadow: 0px 4px 20px rgba(66, 66, 66, 0.3);
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		color: #000;
		&::placeholder {
			font-weight: 300;
			font-size: 18px;
			line-height: 22px;
			color: #787878;
		}
	}

	// .form__btn

	&__btn {
		@include btn;
		padding: 26px 39px;
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;
		color: #ffffff;
		box-shadow: 0px 4px 60px rgba(255, 194, 86, 0.4);
	}
}

// end feedback

// start catalog
.catalog {
	background-image: url(../img/catalog-bg.jpg);
	background-size: cover;
	background-position: center;
	// .catalog__title

	&__title {
		@include title;
		font-family: roboto;
		font-weight: 900;
		padding: 85px 0 57px;
	}
}

.tab {
	// .tab__element
	display: flex;
	justify-content: center;
	margin-bottom: 61px;

	&__element {
		color: #cfa55b;
		font-weight: 700;
		text-align: center;
		font-size: 16px;
		line-height: 19px;
		border: 2px solid #cfa55b;
		border-radius: 5px;
		padding: 21px 33px;

		&--active {
			color: #fff;
			background: #cfa55b;
			box-shadow: 0px 4px 20px rgba(207, 165, 91, 0.5);
			border-radius: 5px;
		}

		& + & {
			margin-left: 38px;
		}
	}

	// .tab__info

	&__info {
	}

	// .tab__info-item

	&__info-item {
		padding-bottom: 47px;
		p {
			padding-top: 32px;
			font-weight: 700;
			font-size: 30px;
			line-height: 36px;
			text-align: center;

			color: #cfa55b;
			&:nth-child(2n) {
				padding-top: 0;
				color: #424242;
				font-weight: 600;
				font-size: 18px;
				line-height: 22px;
			}
		}
	}

	// .tab__info-item--img

	&__info-item--img {
		position: relative;
		text-align: center;

		img {
			filter: drop-shadow(0px 4px 50px rgba(60, 60, 60, 0.25));
			border-radius: 10px;
			width: 100%;
			max-width: 1100px;
			height: auto;
		}
	}

	// .tab__characteristick
}

.swiper-button-next,
.swiper-button-prev {
	top: 35%;
}

.catalog-slider {
	display: none;
}

.catalog-slider--active {
	display: block;
}

.catalog-slider .swiper-button-next::after {
	content: url('../img/arow-right.svg');
}

.catalog-slider .swiper-button-prev::after {
	content: url('../img/arow-left.svg');
}

.characteristick {
	// .characteristick__item
	margin-bottom: 92px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 69px;
	min-width: 0;

	&__item {
		p {
			font-weight: 600;
			line-height: 36px;
			font-size: 30px;
			color: #cfa55b;

			&:nth-child(2n) {
				font-family: museosanscyrl-300;
				font-weight: 400;
				font-size: 24px;
				line-height: 29px;
				color: #8c8c8c;
			}
		}
	}
}

// end catalog

// Media
@import 'media';
